@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
:root {
  --ff-poppins: 'Poppins', sans-serif;;
  --bg-pink-dark: rgb(160, 33, 125);
  --bg-green-regular: rgb(1, 113, 67);
  --bg-pink-regular: rgb(239, 186, 196);
  --clr-white: rgb(255, 255, 255);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.7rem;
  font-family: var(--ff-poppins);
}

.container {
  min-height: 100vh;
  position: relative;
  padding: 3rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}

header img {
  width: 80px;
  height: 80px;
}

header ul li {
  list-style: none;
}

.container header nav.menu-container .menu-mobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 50px;
  height: 50px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
}

.container header nav.menu-container .menu-mobile .bar {
  width: 100%;
  height: 8px;
  background: var(--bg-green-regular);
  margin-bottom: 5px;
  border-radius: 12px;
  transition: all .3s;
}

.container header nav.menu-container .menu-mobile .bar2 {
  width: 80%;
  height: 8px;
  background: var(--bg-green-regular);
  border-radius: 12px;
  transition: all .3s;
}

.container header nav.menu-container ul {
  display: none;
  opacity: 0;
}

.container header nav.menu-container.on {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: var(--bg-green-regular);
  z-index: 10;
}

.container header nav.menu-container.on .menu-mobile {
  position: absolute;
  top: 44px;
  right: 47px;
}

.container header nav.menu-container.on .menu-mobile .bar,
.container header nav.menu-container.on .menu-mobile .bar2 {
  transition: all .3s;
  background: var(--clr-white);
}

.container header nav.menu-container.on .menu-mobile .bar {
  transform: rotate(45deg) translate(4px);
}

.container header nav.menu-container.on .menu-mobile .bar2 {
  width: 100%;
  transform: rotate(-45deg) translate(9px, -6px);
}

.container header nav.menu-container.on .active {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  opacity: 1;
}

.container header nav.menu-container.on .active li{
  text-align: center;
}

.container header nav.menu-container.on .active li a {
  display: block;
  width: 200px;
  padding: 1.5rem;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--clr-white);
  font-size: 2.5rem;
}

main article h1 {
  font-size: 3.8rem;
  font-weight: normal;
  line-height: 1.2;
}

main article h1 strong {
  font-size: 5rem;
  color: var(--bg-green-regular);
}

main article p {
  line-height: 1.5;
  margin: 1rem 0 2rem;
}

main article button {
  padding: 1.3rem 3.8rem;
  background: var(--bg-green-regular);
  border-radius: 4rem;
  border: none;
  font-weight: bold;
  color: var(--clr-white);
  cursor: pointer;
  margin-bottom: 2rem;
  outline: none;
}

main section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main section .img-container {
  width: 100%;
  max-width: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

main section .img-container .circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  height: 100%;
  background: var(--bg-green-regular);
  clip-path: circle(200px at center);
}

main section .img-container img {
  width: 70%;
  margin-bottom: 2rem;
}

main section div:nth-child(2) img {
  transition: all .5s;
  cursor: pointer;
}

main section div:nth-child(2) img:hover {
  transform: translateY(-20px);
}
