@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
:root {
  --ff-poppins: 'Poppins', sans-serif;;
  --bg-pink-dark: rgb(160, 33, 125);
  --bg-green-regular: rgb(1, 113, 67);
  --bg-green-dark: rgb(1, 73, 43);
  --bg-pink-regular: rgb(239, 186, 196);
  --clr-white: rgb(255, 255, 255);
  --clr-black: rgb(0, 0, 0);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: var(--ff-poppins);
}

.container {
  min-height: 100vh;
  position: relative;
  padding: 3rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}

header img {
  width: 80px;
  height: 80px;
}

header ul li {
  list-style: none;
}

.container header nav.menu-container .menu-mobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 50px;
  height: 50px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
}

.container header nav.menu-container .menu-mobile .bar {
  width: 50px;
  height: 8px;
  background: var(--bg-green-regular);
  margin-bottom: 5px;
  border-radius: 12px;
  transition: all .3s;
}

.container header nav.menu-container .menu-mobile .bar2 {
  width: 40px;
  height: 8px;
  background: var(--bg-green-regular);
  border-radius: 12px;
  transition: all .3s;
}

.container header nav.menu-container ul {
  display: none;
  opacity: 0;
}

.container header nav.menu-container.on {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: var(--bg-green-regular);
  z-index: 10;
}

.container header nav.menu-container.on .menu-mobile {
  position: absolute;
  top: 44px;
  right: 30px;
}

.container header nav.menu-container.on .menu-mobile .bar,
.container header nav.menu-container.on .menu-mobile .bar2 {
  transition: all .3s;
  background: var(--clr-white);
}

.container header nav.menu-container.on .menu-mobile .bar {
  transform: rotate(45deg) translate(4px);
}

.container header nav.menu-container.on .menu-mobile .bar2 {
  width: 100%;
  transform: rotate(-45deg) translate(9px, -6px);
}

.container header nav.menu-container.on .active {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  opacity: 1;
}

.container header nav.menu-container.on .active li{
  text-align: center;
}

.container header nav.menu-container.on .active li a {
  display: block;
  width: 200px;
  padding: 1.5rem;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--clr-white);
  font-size: 2.5rem;
}


main article h1, h2 {
  font-size: 2.8rem;
  font-weight: normal;
  line-height: 1.2;
}

main article h1 strong {
  font-size: 3.6rem;
  color: var(--bg-green-regular);
}

main article p {
  line-height: 1.5;
  margin: 1rem 0 2rem;
}

main article .learn-more {
  display: block;
  padding: 1.3rem 2.3rem;
  width: fit-content;
  background: var(--bg-green-regular);
  border-radius: 4rem;
  border: none;
  color: var(--clr-white);
  cursor: pointer;
  margin-bottom: 2rem;
  outline: none;
  text-decoration: none;
}

main section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main section .img-container {
  width: 100%;
  max-width: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

main section .img-container .circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  height: 100%;
  background: var(--bg-green-regular);
  clip-path: circle(40% at center);
}

main section .img-container img {
  width: 70%;
  margin-bottom: 2rem;
}

main section .thumb {
  display: flex;
}

main section .thumb img {
  transition: all .5s;
  cursor: pointer;
}

main section .thumb img:hover,
main section .thumb img:active {
  transform: translateY(-20px);
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--bg-green-regular); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--bg-green-dark);
}

@media screen and (min-width: 1000px) {
  body {
    font-size: 1.8rem;
  }

  .container header nav.menu-container .menu-mobile {
    display: none;
    visibility: hidden;
  }

  .container header nav.menu-container ul {
    display: flex;
    opacity: 1;
    gap: 10px;
  }

  .container header nav.menu-container ul li a {
    text-decoration: none;
    color: var(--clr-black);
    transition: all .4s;

  }

  .container header nav.menu-container ul li a::after {
    content: '';
    display: block;
    margin: auto;
    width: 0;
    height: 1px;
    background: transparent;
    transition: all .3s;
  }

  .container header nav.menu-container ul li a:hover::after {
    background: var(--clr-black);
    width: 100%;
  }

  main article h1, h2 {
    font-size: 3.3rem;
  }

  main article h1 strong {
    font-size: 4rem;
  }

}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    margin: auto;
  }

  .container main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .container main article {
    align-self: center;
    max-width: 500px;
  }

  .container main section {
    position: relative;
    flex-direction: column;
  }

  .container main section .img-container {
    flex: 1;
    width: 700px;
  }

  .container main section .circle {
    clip-path: circle(45% at center);
  }

  .container main section .thumb {
    position: absolute;
    bottom: -150px;
    left: -250px;
  }

}